.App {
  text-align: center;
}

.App-logo {
  height: auto;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

@media only screen and (max-width: 900px) {
  .App-logo {
    width: 120px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 80s linear;
    transition: all 0.5 ease-in-out;
  }
  .App-logo:hover {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #012710;
  opacity: 0.8;
  background-image: radial-gradient(circle at center center, #bcefcb, #012710), repeating-radial-gradient(circle at center center, #bcefcb, #bcefcb, 10px, transparent 20px, transparent 10px);
  background-blend-mode: multiply;
  height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
