@font-face {
  font-family: 'Microgramma';
  src: local('Microgramma Bold'), url(./fonts/Microgramma\ Bold.otf) format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
  margin: 0;
  font-family: 'Microgramma', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


